@media (min-width: 768px) {
    .label-custom {
        width: 180px;
    }


    .custom-input {
        width: 300px;
    }
}

@media (max-width: 768px) {
    .label-custom {
        width: 100%;
    }
}


